<% @questions.each do |question| %>
  <h4>Question: <%= question.text %></h4>

  <p><%= radio_button_tag(:answer, "correct answer") %>
    <%= label_tag(:correct_answer, question.answer.text) %></p>
<% end %>
